<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= htmlWebpackPlugin.options.base.href %>">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta 
    name="description" 
    content="<%= htmlWebpackPlugin.options.meta.description %>"> 
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="container">
    <div id="root"></div>
    <div id="info"></div>
  </div>
</body>
</html>